
<!DOCTYPE html>
<html lang="pt">

<head>

	<title>Financezy</title>
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="css/main.css" rel="stylesheet" media="all">
	<style>
		body{
		background-color: #7D979D;
	}
	</style>

</head>

<body>


    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Cadastro Parceiro de Negócio</h2>
                </div>
                <div class="card-body">
                    <div class="form-row p-t-20">
                        <div class="p-t-10">
                            <label class="radio-container m-r-55">CNPJ
                                <input type="radio" checked="checked" name="exist">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">CPF
                                <input type="radio" name="exist">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="name">Razão Social</div>
                    <div class="value">
                        <div class="input-group">
                            <input class="input--style-5" type="texto" name="company">
                        </div>
                    <div class="name">CNPJ/CPF</div>
                    <div class="value">
                        <div class="input-group">
                            <input class="input--style-5" type="texto" name="company" placeholder="00.000.000/0000-00">
                        </div>    
                    </div>
                    <div class="name">Contato</div>
                    <div class="value">
                        <div class="input-group">
                            <input class="input--style-5" type="texto" name="company">
                        </div>
                    </div>

                    <div class="name">Email</div>
                    <div class="value">
                        <div class="input-group">
                            <input class="input--style-5" type="email" name="email">
                        </div>
                    </div>

                    <div class="name">Telefone</div>
                    <div class="value">
                        <div class="row row-refine">
                            <div class="col-3">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="texto" name="area_code" placeholder="DDD">
                                    
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="texto" name="phone"placeholder="Número">
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="name">Endereço</div>
                    <div class="value">
                        <div class="row row-refine">
                            <div class="col-6">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="texto" name="first_name"placeholder="Rua">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="texto" name="last_name"placeholder="nº">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group-desc">
                                    <input class="input--style-5" type="texto" name="last_name"placeholder="CEP">
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="name"></div>
                    <div class="value">
                        <div class="row row-refine">
                    </div>

                    <div class="row row-refine">
                        <div class="col-3">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="texto" name="first_name"placeholder="Bairro">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="texto" name="first_name"placeholder="Cidade">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group-desc">
                                <input class="input--style-5" type="texto" name="last_name"placeholder="UF">
                            </div>
                        </div>
                    </div>
                </div><br>
                        <div class="form-row">
                            <div class="name">Tipo de Parceiro</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Escolha uma Opção</option>
                                            <option>Cliente</option>
                                            <option>Fornecedor</option>
                                            <option>Funcionário</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body>

</html>