{% extends "blog/base.html" %}
{% load widget_tweaks %}
{% load bootstrap%}
{% load static %}
{% block css%} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    #margem {margin-left: 135px;}
    #editar {margin-left: 265;}
    #prod {margin-left: 370;}
    span.required:after{
        content: "*";
        color: red;
    }
    form{
        margin-left: 300px;
        margin-right: 300px;
    }
    .form-control{
        margin: 10px;
    } 

</style>
{% endblock css%}

{% block content %} 

<p></p>
<a id= "margem" href="{% url 'blog:ent_estoque' %}"><h5 id="margem">Voltar</h5></a>

<div class="row">
    <div class="col-sm-12">
        <form method="POST" novalidate>
            {% csrf_token %}
            <legend style="border-bottom:1px solid #e5e5e5">Lançamento Despesas</legend>

            <div class="row">
                <div class="col-sm-6">
                    {% for field in form.visible_fields %}
                    <div class="form-group{% if field.errors %} has-error {% endif%}">
                        <label for="{{ field.id_for_label }}">
                        {% if field.field.required %}
                            <span class="required">{{ field.label }} </span>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                        </label>
                        {% render_field field class="form-control" %}
                        {% for error in field.errors %}
                        <span class="text-muted">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                {{formset.management_form}}
                </div>              
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <legend style="border-bottom:1px solid #e5e5e5">Produtos</legend>
                    <div id="estoque" class="form-inline">
                        {% for item_estoque_form in formset %}
                            <div id="item-{{ forloop.counter0 }}" class="form-group">
                                {{ item_estoque_form|bootstrap }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <span id="add-item" class="btn btn-info" style="margin-top: 10px;">
                <i class="fa fa-plus"></i> Adicionar
            </span>

            <div class="row float-rigth">
                <div class="col-sm-12" style="margin-top: 10px;">
                    <div class="form-inline buttons">
                        <button class="btn btn-primary" value="Save">
                            <i class="fa fa-floppy-o"></i>   Salvar 
                        </button>
                        <a href="{% url 'blog:ent_estoque' %}" class="btn btn-danger">
                            <i class="fa fa-times"></i> Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block js%}
<script src="{% static 'js/global.js' %}"></script>

<script type="text/html" id="item-estoque">
    <div id="item-__prefix__" class="form-group">
        {{ formset.empty_form|bootstrap }}
      </div>
</script>
{% endblock js%}
