
{% extends "blog/base.html" %}

{% block css%} 


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<style>
.pull-rigth{
    margin-left: 1075;
}



</style>
{% endblock css%}
{% block content %} 
<div class="page-header">
    <h2> 
        <span class="pull-rigth">
            <a href="{% url 'blog:produto_add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-plus"></span>Adicionar
                </button>
            </a>


        </span>


    </h2>
    
    
    <br>

    {% if object_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Importado</th>
                    <th>NCM</th>
                    <th>Produto</th>
                    <th class = "text-center">Preço</th>
                    <th class = "text-center">Estoque</th>
                    <th class = "text-center">Estoque Mínimo</th>
                </tr>
            </thead> 
            <tbody>
                {% for object in object_list%}
                    <tr>
                        <td>
                            {% if object.importado %}
                                <i class="fa fa-check-circle ok"></i>
                            {% else%}
                                <i class="fa fa-minus-circle no"></i>
                            {% endif %}
                        </td>
                        <td>{{ object.ncm }}</td>
                        <td>
                            <a href="{{ object.get_absolute_url }}">{{ object.produto }}</a>
                        </td>
                        <td>R$<span class="pull-right"> {{object.preco }}</span></td>
                        <td class="text-center">{{ object.estoque }}</td>
                        <td class="text-center">{{ object.estoque_minimo }}</td>
                        
                    </tr>

                {% endfor %}
            </tbody>


        </table>
        {% else %}
            <p class="alert alert-warning">Sem itens na lista</p>
        {% endif%}

</div>
{% endblock content %}