{% extends "blog/base.html" %}

{% block css%} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<style>
    #margem {margin-left: 135px;}
    #editar {margin-left: 265;}
    #prod {margin-left: 370;}
</style>
{% endblock css%}

{% block content %} 
<p></p>
<a id= "margem" href="{% url 'blog:sai_estoque' %}"><h5 id="margem">Voltar</h5></a>
<h1 id="prod">{{object}} </h1>
<br>
<div class="col-sm-6">
    <table id= "margem" class="table table-user-information">
        <tbody>
            <tr>
                <th class="text-rigth">NF</th>
                <td>{{object.nf_formated}}</td>
            </tr>
            <tr>
                <th class="text-rigth">Data</th>
                <td>{{object.created}}</td>
            </tr>
            <tr>
                <th class="text-rigth">Usuário</th>
                <td>{{object.funcionario.first_name}}</td>
            </tr>
        </tbody>
    </table> 
<br>
</div>
<table id="margem" class="table table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object.estoques.all %}
        <tr>
            <td width= "200px"> {{obj.produto}}</td>
            <td width= "200px"> {{obj.quantidade}}</td>
            <td> {{obj.saldo}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}